.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-app {
  display: flex;
  background-color: #b2c5eb;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 11px;
  overflow: hidden;
  border: 2px solid #3b5998;
}
.header {
  background-color: #3b5998;
  color: white;
  width: 100%;
  text-align: center;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  color: rgb(1, 59, 139);

}


.user {
  font-weight: bold;
  font: small; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 19px;
  color: rgb(10, 0, 35);
  font-style: oblique;
}

.new-message-form {
  display: flex;
  width: 100%;
  padding: 10px;
}

.new-message-input {
  flex: 1;
  border: 1px solid rgb(208, 207, 210);
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #333;
  padding: 10px;
  border-radius:  0 5px 5px 0;
}

.send-button {
  border: none;
  outline: none;
  background: #3b5998;
  color: rgb(236, 231, 231);
  font-size: 19px;
  font-weight: bold;
  margin: 2px 10px;
  border-radius: 5px;
}

.send-button:hover {
  background: #253861;
  color: rgb(190, 186, 186);
  border-radius: 4  px;
}

.auth {
  text-align: center;
}
.auth input {
  height: calc(20px + 1vmin);
  background-color: #dae2f3;
  color: rgb(2, 67, 68);
  margin: 20px;
}
.auth button {
  width: calc(20px + 15vmin);
  height: 50px;
  border: none;
  background-color: #3b5998;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px;
}

.auth button:hover {
  background-color: #4a6fbf;
  color: rgb(200, 198, 198);
}